.card {
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
  max-width: 200px;
  height: 270px;
  background-color: #f3f3f3;
  // box-shadow: 5px 5px 25px rgb(184, 183, 183);
  overflow: hidden;

  img {
    // width: 100%;
    width: 190px !important;
    height: 120px !important;
    padding: 10px;
  }
  .inf {
    width: 190px;
    padding: 15px;
    b {
      white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
    p {
      margin: 0px;
      //    white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }
  .btn{
    .btn_buy{
      font-size: 13px;
      height: 27px;
      // padding: 5px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 777px) {
  .card {
    min-width: 250px;
    max-width: 250px;
    margin: 10px auto;
    padding: 10px;
    height: 340px;
    img {
      width: 230px !important;
      height: 180px !important;
    }
    .inf {
      width: 230px;
      padding: 15px;
    }
    .btn{
      .btn_buy{
        height: 30px;
      }
    }
  }
}
